@import "../../styles/main.scss";

.container {
  z-index: 11;
  padding: $spacer-sm;
  height: $appBar-height;
  box-shadow: 0px 1px 10px #999;
}

.appBar {
  display: flex;
  align-items: stretch;
  align-self: center;
}

.menuIcon {
  display: flex;
  align-items: center;
  font-size: $font-size-xlg;
  margin-right: $spacer-xlg;
  cursor: pointer;
  transition: color 0.5s;

  &:hover {
    color: lighten($text-color, 15);
  }
}

.brandContainer {
  display: flex;
  margin: 0 $spacer-sm;
}

.brand {
  font-size: $brand-font-size;
  font-weight: 600;
  color: lighten($text-color, 10);
}
