@import "../../styles/main.scss";

.container {
  display: flex;
  justify-content: flex-end;
  margin-right: $spacer-lg;
}

.count {
  margin-right: $spacer-xxlg;
  font-size: $font-size-sm;
  line-height: px-to-rem(28px);
  color: $text-color-muted;
}

.navContainer {
  display: flex;
}

.nav {
  margin-left: $spacer-md;
  background-color: $white;
  cursor: pointer;
  font-size: px-to-rem(24px);
  border: 0;
  outline: none;
  transition: 0.2s;

  &:hover {
    color: lighten($text-color, 30);
  }

  &:disabled {
    cursor: default;
    color: lighten($text-color-muted, 25);
  }
}
