@import "../../styles/main.scss";

.paper {
  margin: $spacer-xlg 0;
}

.submit {
  margin: $spacer-lg 0 $spacer-lg auto;
  background-color: $green !important;
  color: $white !important;

  &:hover {
    background-color: lighten($green, 10) !important;
  }
}
