@import "../../styles/main.scss";

.paper {
  margin: $spacer-xlg 0;
  padding: $spacer-md;
}

.icon {
  line-height: px-to-rem(16px);
}

.published {
  stroke: $success;
  stroke-width: px-to-rem(4px);
}

.notPublished {
  stroke: $danger;
  stroke-width: px-to-rem(4px);
}
