@import "../../styles/main.scss";

.paper {
  margin: $spacer-xlg 0;
  padding: $spacer-md;
}

.icon {
  line-height: px-to-rem(16px);
  padding-left: $spacer-sm !important;
}

.published,
.notPublished {
  display: block;
  width: $font-size-md;
  height: $font-size-md;
  border-radius: 50%;
}

.published {
  border: 3px solid $green;
  background-color: $green;
}

.notPublished {
  opacity: 0.6;
  border: 3px solid $light-grey;
}
