@import "../../styles/main.scss";

.paper {
  margin-top: 15%;
}

.title {
  font-size: $font-size-xlg;
  font-weight: 600;
}

.button {
  width: 100%;
  font-size: $font-size-lg;
  margin-top: $spacer-sm;
}
