@import "../../styles/main.scss";

.title {
  font-family: $font-family-secondary;
  font-size: $font-size-xlg;
  font-weight: 700;
  border-bottom: 1px solid $light-border;
  margin-bottom: $spacer-sm;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemTitle {
  font-family: $font-family-secondary;
  font-size: $font-size-lg;
  font-weight: 700;
}

.itemContent {
  display: flex;
  align-items: center;
  color: $text-color-muted;
}

.itemLink {
  color: $blue;
}
