@import "../../styles/main.scss";

.container {
  width: 100%;
  margin: $spacer-sm 0;
}

.label {
  display: block;
  font-size: $font-size-md;
  font-weight: 600;
  letter-spacing: 0.66px;
  margin-bottom: $spacer-xxsm;
}

.required:after {
  content: " *";
  margin-left: px-to-rem(-2px);
}

.input {
  display: block;
  width: 100%;
  border: 1px solid $light-border;
  background-color: $white;
  border-radius: px-to-rem(4px);
  padding: $spacer-sm;
  margin-bottom: $spacer-xxsm;
}

.error {
  display: block;
  font-size: $font-size-sm;
  color: $danger;
}
