@import "../../styles/main.scss";

.row {
  display: flex;
  justify-content: space-around;
}

.buttons {
  justify-content: flex-start;
}

.edit {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: lighten($blue, 10);
  }
}

.delete {
  margin-left: $spacer-sm;
  background-color: $danger;
  color: $white;

  &:hover {
    background-color: lighten($danger, 10);
  }
}

.view {
  background-color: $green;
  color: $white;

  &:hover {
    background-color: lighten($green, 10);
  }
}

.name {
  font-family: $font-family-secondary;
  font-size: $font-size-giant;
  font-weight: 700;
  line-height: 1;
}
