@import "./styles/main.scss";

html {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans;
  font-size: $base-font-size;
  color: $text-color;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  background-color: $white;
}
