@import "../../styles/main.scss";

// Common
.row {
  display: flex;
  justify-content: space-around;
}

.buttons {
  justify-content: flex-start;
}

.edit {
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: lighten($blue, 10);
  }
}

.delete {
  margin-left: $spacer-sm;
  background-color: $danger;
  color: $white;

  &:hover {
    background-color: lighten($danger, 10);
  }
}

.view {
  background-color: $green;
  color: $white;

  &:hover {
    background-color: lighten($green, 10);
  }
}

// View
.tagsContainer {
  margin-top: $spacer-md;
  padding: $spacer-sm 0 0;
}

.tag {
  display: inline-block;
  margin-right: $spacer-sm;
  padding: $spacer-xxsm $spacer-xsm;
  background-color: $light-bg;
  color: $text-color-muted;
  font-size: $font-size-sm;
  border-radius: px-to-rem(4px);
}
