@import "../../styles/main.scss";

.row {
  display: flex;
  justify-content: space-around;
}

.buttons {
  justify-content: flex-start;
}

.edit {
  margin-left: 1%;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: lighten($blue, 10);
  }
}

.delete {
  margin-left: 1%;
  background-color: $danger;
  color: $white;

  &:hover {
    background-color: lighten($danger, 10);
  }
}

.view {
  margin-left: 1%;
  background-color: $green;
  color: $white;

  &:hover {
    background-color: lighten($green, 10);
  }
}

.full {
  width: 98%;
  margin: 0 auto;
  padding: $spacer-md $spacer-lg;
}

.half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  padding: $spacer-md $spacer-lg;
}

.label {
  font-family: $font-family-secondary;
  font-size: $font-size-xlg;
  font-weight: 700;
  border-bottom: 1px solid $light-border;
  margin-bottom: $spacer-sm;
}

.tagsContainer {
  margin-top: $spacer-md;
  padding: $spacer-sm 0 0;
}

.tag {
  display: inline-block;
  margin-right: $spacer-sm;
  padding: $spacer-xxsm $spacer-xsm;
  background-color: $light-bg;
  color: $text-color-muted;
  font-size: $font-size-sm;
  border-radius: px-to-rem(4px);
}

.dataRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dataLabel {
  font-family: $font-family-secondary;
  font-size: $font-size-lg;
  font-weight: 700;
}

.data {
  display: flex;
  align-items: center;
  color: $text-color-muted;
}

.dataLink {
  margin-left: $spacer-xsm;
  font-size: $font-size-lg;
  color: $text-color;
  line-height: 1;
}
